<div class="row wrapper">
  <div class="full-title full-title-default"><h2><%- pageTitle %></h2></div>
		<section class="about-main-content">
    <header>
      <h1 class="big">Mission &amp; Vision</h1>
    </header>
    <section>
      <p>Our goal is to clearly communicate the message of hope and eternal salvation found only in <em>Jesus Christ</em>. This hope and eternal salvation is not found in religion or organization, but only in a living, personal and dynamic relationship with <em>Jesus Christ</em>.</p>
      <p>Our <u>mission</u> at NLCF is to know <em>Christ</em> and to make Him Known.<br>
      Our <u>vision</u> is transforming lives and impacting the world for <em>Jesus Christ</em> by becoming a spiritually functioning, divinely dependent, and praying Christian community.</p>
      <a href="../documents/webelieve.pdf" target="_blank"><p><span class="click_here"><em><u>Click here to see our full doctrinal statement</u></em></span></p></a>
    </section>
    <aside>
    	<header>
      <h1 class="big">About the Pastor</h1>
    	</header>
      <p><strong>Louie Santelices</strong>, Sr. Pastor of <strong>New Life in Christ Fellowship</strong> (Twin Cities) received his Master of Divinity (M.Div.) degree at <em>Bethel Seminary/University St. Paul Minnesota</em>, practiced his Mechanical Engineering degree and taught at <em>De La Salle University</em> Manila, Philippines before his call to ministry.</p>
      <p class="p_bottom_border">He served an Associate Pastor of <em>First Filipino Baptist Church of Toronto</em>, Ontario Canada (June 2010 – Mach 2014) and Pastor of <em>Filipino American Christian Church</em> (Twin Cities) (2003-2010). He also served as interim pastor, teacher, and other various capacities in several churches and organizations in the Philippines, Vancouver (BC), Montreal (PQ) and Toronto (ON), Canada.</p>
    </aside>
  </section>
  <aside class="about-side-info">
  	<section>
  		<header>
  			<h1 class="big">Staff &amp; Volunteers</h1>
  		</header>
			<section>
				<div>
          <div>
            <h5 class="">Board of directors</h5>
            <p>
              Senior Pastor: Louie Santelices<br>
              Deacons: Steve Tiongson and Allen Morgan<br>
              Exec. Committee: Jet Reyes and Kaey Mendoza<br>
              Church Clerk: Abby Aspiras<br>
              Treasurer: Karen Barcelon</p>
          </div>
          <div>
            <h5>NLCF Officers</h5>
              <p>
                Chairman: Steve Tiongson<br>
                Vice-Chairman: Jet Reyes<br>
                Financial Secretary: Sarah Morgan<br>
                Asst. Financial Secretary: Jessica Malong
              </p>
          </div>
        </div>
					<div>
          <div>
            <h5>Pastoral Staff</h5>
              <p>
                Music Director: Erna Ahlmann<br>
                Youth Director: Allen and Sarah Morgan<br>
                Young Adults Director: Efren and Rizza Malong
              </p>
          </div>
          <div>
            <h5>Commitees</h5>
              <p>
                Men's: Rey Nolido<br>
                Women's: Ma Cecilia Nolido<br>
                Internal Auditor: Al Swanson<br>
                Custodians: Edith Bilalat and Efren Malong
              </p>
          </div>
        </div>
  </aside>
</div>