<h3>Events page is still under construction</h3>
<p>Visit NLCF <a href="https://www.facebook.com/New-Life-In-Christ-Fellowship-Twin-City-MN-163651137101710/">facebook page</a> to see current events</p>
