<!-- Start intro-paragrah -->
      <section class="row intro-paragraph">
        <header>
          <h1 class="large">Welcome</h1>
        </header>
        <section>
            <p>We want to thank you for your interest in New Life in Christ Fellowship – NLCF (Twin Cities). Our goal is to clearly communicate the message of hope and eternal salvation found only in <em>Jesus Christ</em>. This hope and eternal salvation is <strong>not</strong> found in religion or organization, but only in a living, personal and dynamic relationship with <em>Jesus Christ</em>.</p>
        </section>
      </section>
<!-- End intro-paragrah -->

<!-- Start feature section -->
      <section class="ft ft-index">
        <div class="ft-col ft-col-1 slider">
          <div class="blt">
            <div class="blt-col">
              <div class="slick-slider">
                <div><img src="img/pages/page-index/thank-you.jpg" alt=""></div>
                <div><img src="img/pages/page-index/sermon-ft.jpg" alt=""></div>
                <div><img src="img/pages/page-index/church-of-the-week.jpg" alt=""></div>
              </div>
            </div>
          </div>
        </div>

      <section class="side-info side-info-index">
        <div class="side-row map">
          <img src="img/pages/page-index/side-info-col1.gif">
          <div>
            <a href="https://www.google.com/maps/place/3245+New+Brighton+Rd,+St+Paul,+MN+55112/data=!4m2!3m1!1s0x52b3294e1c1395f5:0xf0cd71d3a22df387?sa=X&sqi=2&ved=0CB0Q8gEwAGoVChMIneuPsYzFxwIVRBiSCh2F1AL6" 
         target="_blank" class="animsition-link" title="New Life In Chirst Location">
              <h6>Find Us</h6>
              </a>
          </div>
        </div>
        <div class="side-row lts-sermon">
            <img src="img/pages/page-index/side-info-col2.gif">
            <div>
              <a href="pages/media.html" class="animsition-link" title="New life In Chist Latest Sermon"> 
                <h6>Latest Sermon</h6>
              </a>
            </div>
        </div>
        <div class="side-row pstr-message">
          <img src="img/pages/page-index/side-info-col3.gif">
          <div>
            <a href="pages/pastor-message.html" class="animsition-link" title="New life in Christ Pastor Message"> 
                <h6>Message from Pastor</h6>
            </a>
          </div>
        </div>
      </section>
  	</section>
<!-- End feature section -->