



<section class="row ft">
  <div class="full-title"><h2>Media</h2></div>
  <p>Sermon section is currently being constructed. For lastest NLCF media resources, visit NLCF <a href="https://www.facebook.com/New-Life-In-Christ-Fellowship-Twin-City-MN-163651137101710/">Facebook page.</a>Sermon series belowe are still available to play and download.</p>
<!-- Start slider -->
  <div class="ft-col ft-col-1 slider">
    <div class="blt">
      <div class="blt-col sermon">
        <img src="./img/media/bible.jpg" alt="">
        <div id="sermonLoad">
          <div class="audio_wrapper">
            <div id="audio1">
              <h4>Latest Sermon</h4>
              <p class="audio_info">Visit NLCF <a href="https://www.facebook.com/New-Life-In-Christ-Fellowship-Twin-City-MN-163651137101710/">Facebook page</a> for the lastest sermon</p>
            </div> 
          </div>
        </div>
      </div>
    </div>
  </div>
<!-- End slider -->

<!-- Start side-info -->
<section class="sermon-buttons-cont side-info side-info-media">
  <div class="right-full-title">
    <hr>
    <h4>Sermons</h4>
    <hr>
  </div>
  <div class="side-row series-marraige">
    <img src="./img/media/marraige2.jpg" alt="">
    <div class="series-selector" data-folder="marraige">
      <a>
        <h6>Marriage</h6>
        </a>
    </div>
  </div>
  <div class="side-row series-galatians">
      <img src="./img/pages/page-index/side-info-col2.gif" alt="">
      <div class="series-selector" data-folder="galatians1">
        <a> 
          <h6>Series on Galatians</h6>
        </a>
      </div>
  </div>
  <div class="side-row series-upcoming">
    <img src="./img/pages/page-index/side-info-col3.gif" alt="">
    <div class="series-selector" data-folder="matthew">
      <a> 
          <h6>Matthew Series</h6>
      </a>
    </div>
  </div>
</section>
<!-- end side-info -->

<!-- Start sermon-gallery -->
<section class="sermon-buttons-cont full-info-media">
  <div class="right-full-title">
    <h4>Sermons</h4>
  </div>
  <div class="prev-button">&#60;</div>
  <div class="sermons-window">
    <div class="sermons-blt">
      <div class="sermon-button sermon-button-1">
        <img src="./img/media/marraige2.jpg" alt="Marraige Sermon">
        <div>
          <a class="series-selector" data-folder="marraige">
            <h6>Marriage</h6>
            </a>
        </div>
      </div>
      <div class="sermon-button sermon-button-2">
          <img src="./img/pages/page-index/side-info-col2.gif" alt="">
          <div>
            <a class="series-selector" data-folder="galatians1"> 
              <h6>Galatians</h6>
            </a>
          </div>
      </div>
      <div class="sermon-button sermon-botton-3">
        <img src="./img/pages/page-index/side-info-col3.gif" alt="">
        <div>
          <a class="series-selector" data-folder="matthew"> 
              <h6>Matthew</h6>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="next-button">&#62;</div>
</section>
<!-- end side-gallery -->

</section>

<hr>

<!--Star Media Photos-->
<section id="media-photos" class="row">
  <h4>Gallery</h4>
  <hr/>
  <div class="row photo-gal">
    <figure class="event-figure-cont">
      <h6>Family Day</h6>
      <span></span>
      <!--background image inline overide-->
      <div class="gallery-thumb">
        <div class="show-album" data-folder="family-day-gal"></div>
      </div>
    </figure>
    <figure class="event-figure-cont">
      <h6>Fathers' Day</h6>
      <span></span>
      <div class="gallery-thumb">
        <div class="show-album" data-folder="fathers-day-gal"></div>
      </div>
    </figure>
    <figure class="event-figure-cont">
      <h6>Family Camp</h6>
      <span></span>
      <div class="gallery-thumb">
        <div class="show-album" data-folder="family-camp-gal"></div>
      </div>
    </figure>
  </div>
  <div class="row gallery-album-load parent-container">
  </div>
</section>
<!--End Media Photos-->
