

<!--Start Ministry Section-->
<div class="full-title"><h2>Ministries</h2></div>
<section class="ministry-section">
	<div class="blt">
		<div class="column-1">
			<div style="height: 10px"></div>
			<div class="row ministry-gallery-column">
				<figure class="effect-julia">
					<img src="img/pages/page-ministries/children.jpg" alt="New Life in Chirst Fellowship Children Ministry"/>
					<figcaption>
						<h2 class="big">Children</h2>
						<div>
							<p>We are excited to offer fun and engaging activities for our children that allow us to guide them to grow spiritually as they get to know Christ and develop their faith in him. If you’d like to volunteer...</p>
        <p class="view-more" data-folder="children">View More</p>
							
						</div>
					</figcaption>			
				</figure>
				<figure class="effect-julia">
					<img src="img/pages/page-ministries/youth.jpg" alt="New Life in Chirst Fellowship Youth Ministry"/>
					<figcaption>
						<h2 class="big">Youth</h2>
						<div>
							<p>We welcome you to the NLCF Youth Ministry where we walk faithfully with our teens as they transition from young people to young adults. We strive to engage our teens by...</p>
        <p class="view-more" data-folder="youth">View More</p>
						</div>
					</figcaption>			
				</figure>
				<figure class="effect-julia">
					<img src="img/pages/page-ministries/music.jpg" alt="New Life in Chirst Fellowship Music Ministry"/>
					<figcaption>
						<h2 class="big">Music</h2>
						<div>
							<p>The Music Ministry is dedicated in facilitating worship that glorifies our God. We would like you to share your talents and gifts and get involve in playing musical instruments and...</p>
							<p class="view-more" data-folder="music">View More</p>
						</div>
					</figcaption>			
				</figure>
				<figure class="effect-julia">
					<img src="img/pages/page-ministries/young-adult.jpg" alt="New Life in Chirst Fellowship Young Adults Ministry"/>
					<figcaption>
						<h2 class="big">Young Adults</h2>
						<div>
							<p>NLCF Young Adults Ministry supports and connects young adults to equip them with the knowledge and wisdom to live righteous and joyful lives according to God’s way and to grow...</p>
							<p class="view-more" data-folder="YoungAdults">View More</p>
						</div>
					</figcaption>			
				</figure>
				<figure class="effect-julia">
					<img src="img/pages/page-ministries/women.jpg" alt="New Life in Chirst Fellowship Women Ministry"/>
					<figcaption>
						<h2 class="big">Women</h2>
						<div>
							<p>NLCF is blessed by the love and support coming from the Women's Ministry. They truly illustrate God's love as they are always there willing to help in any events and are involved in a lot of our ministries like...</p>
							<p class="view-more" data-folder="women">View More</p>
						</div>
					</figcaption>			
				</figure>
				<figure class="effect-julia">
					<img src="img/pages/page-ministries/men.jpg" alt="New Life in Chirst Fellowship Men Ministry"/>
					<figcaption>
						<h2 class="big">Men</h2>
						<div>
							<p>"Be watchful, stand firm in the faith, act like men, be strong. Let all that you do be done in love...</p>
							<p class="view-more" data-folder="men">View More</p>
                         </div>
					</figcaption>			
				</figure>
				<figure class="effect-julia">
					<img src="img/pages/page-ministries/small-group.jpg" alt="New Life in Chirst Fellowship Small Group Ministry"/>
					<figcaption>
						<h2 class="big">Prayer Groups</h2>
						<div>
							<p>We invite you to get involved in a small group. This provides an opportunity to grow in faith and you can ask relevant questions; to be encouraged by others...</p>
							<p><a href="smallgroups.html" class="animsition-link">Go to Page</a></p>
						</div>
					</figcaption>			
				</figure>
			</div>
		</div>
		<div class="column-2">	
		</div>
	</div>
</section>
<!--End Ministry Section-->