<hr>
  <div class="pastor-page-body">
    <div class="pastor-info-cont">
      <div class="pastor-card">
        <div class="pastor-img">
          <img src="./img/pages/page-pastor-message/id_pastor.gif">
        </div>
        <div class="pastor-contact-info">
          <h5>
            <strong>
              "Pastor Louie Santelices, "
              <em>Senior Pastor</em>
            </strong> 
          </h5>
          <div class="info-buttons">
            <a href="tel:763-515-3294">Phone:(763)515-3294</a>
          </div>
          <div class="info-buttons">
            <a href="mailto:louiesantelices@yahoo.com">Email: louiesantelices@yahoo.com</a>
          </div>
        </div>
      </div>
      <hr>
      <h3>Message from Pastor</h3>
      <hr>
      <blockquote>
          <em>
          <p>
            Dear Friends,<br>
            We want to thank you for your interest in New Life in Christ Fellowship – NLCF (Twin Cities).  Our goal is to clearly communicate the message of hope and eternal salvation found only in Jesus Christ. This hope and eternal salvation is not found in religion or organization, but only in a living, personal and dynamic relationship with Jesus Christ.</p>  
          <p>Our mission at NLCF is to know Christ and to make Him Known.
            Our vision is transforming lives and impacting the world for Jesus Christ by becoming a spiritually functioning, divinely dependent, and praying Christian community.</p> 
          <p>At NLCF, we endeavor to see you CONNECT, GROW and SERVE . . .<br>
            CONNECT with God through His Word, Prayer and Sunday services;<br>
            GROW in Christ through personal devotion and small groups;<br>
            SERVE God and others through the local church and its ministries.<br></p>
          <p>We invite you to get involved in a small group. This provides an opportunity to grow in faith and you can ask relevant questions; to be encouraged by others who face the same challenges that you might be facing; and to be part of a care group committed to helping you overcome life’s struggles.</p>
          <p>You may contact me directly at (763) 515-3294 or email: louiesantelices@yahoo.com  Once again, thank you for your interest in New Life in Christ Fellowship - we look forward to worshipping with you soon!</p>
          <p>All Because of Christ,<br>
          Louie Santelices, M.Div<br>
          Senior Pastor<br>
          New Life in Christ Fellowship (Twin Cities)</p>
          </em>
        </blockquote>
      <hr>
      <h4>About the Pastor</h4>
      <hr>
      <p><strong>Louie Santelices</strong>, Sr. Pastor of <strong>New Life in Christ Fellowship</strong> (Twin Cities) received his Master of Divinity (M.Div.) degree at <em>Bethel Seminary/University St. Paul Minnesota</em>, practiced his Mechanical Engineering degree and taught at <em>De La Salle University</em> Manila, Philippines before his call to ministry.</p>
          <p>He served an Associate Pastor of <em>First Filipino Baptist Church of Toronto</em>, Ontario Canada (June 2010 – Mach 2014) and Pastor of <em>Filipino American Christian Church</em> (Twin Cities) (2003-2010). He also served as interim pastor, teacher, and other various capacities in several churches and organizations in the Philippines, Vancouver (BC), Montreal (PQ) and Toronto (ON), Canada.</p>
    </div>
    <div class="aside-info-cont">
      <div class="aside-info aside-info-timelocation">
        <h5>Sunday Service 10:30 am</h5>
        <h5>Location</h5>
        <p>3245 New Brihton Rd.,<br>
            Arden Hills MN 5512
        </p>
        <div class="info-buttons">
            <a href="https://www.google.com/maps/place/3245+New+Brighton+Rd,+St+Paul,+MN+55112/data=!4m2!3m1!1s0x52b3294e1c1395f5:0xf0cd71d3a22df387?sa=X&sqi=2&ved=0CB0Q8gEwAGoVChMIneuPsYzFxwIVRBiSCh2F1AL6" 
         target="_blank" title="New Life In Chirst Location">Go to Map</a>
        </div>
      </div>
      <div class="aside-info aside-info-ministires">
        <h5>Ministries</h5>
        <ul>
          <li>Children</li>
          <li>Youth</li>
          <li>Young Adults</li>
          <li>Music</li>
          <li>Women</li>
          <li>Men</li>
          <li>Small Groups</li>
        </ul>
        <div class="info-buttons">
            <a href="ministries.html" class="">More info</a>
        </div>
      </div>
      <div class="aside-info aside-info-groups">
        <h5>Small Groups</h5>
        <ul>
          <li>Maplewood</li>
          <li>Norht Metro</li>
          <li>Woodbury</li>
          <li>Youth</li>
          <li>Yound Adults</li>
          <li>Best Years' Fellowship</li>
        </ul>
        <div class="info-buttons">
            <a href="smallgroups.html" class="">More info</a>
        </div>
      </div>
    </div>
  </div>