

<div class="full-title small-group-title"><h2>Small Groups</h2></div>

<div class="intro-paragraph intro-paragraph-groups">
    <p>We invite you to get involved in a small group. This provides an opportunity to grow in faith and you can ask relevant questions; to be encouraged by others who face the same challenges that you might be facing; and to be part of a care group committed to helping you overcome life’s struggles.</p>
</div>
    
<section class="ministry-section">
    <div class="blt">
      <div class="column-1">
        <div style="height: 10px"></div>
        <div class="row ministry-gallery-column">
          <figure class="effect-julia">
            <img src="./img/pages/page-prayer-groups/youth4.jpg" alt="New Life in Chirst Fellowship Children Ministry"/>
            <figcaption>
              <h2 class="big">Youth</h2>
              <div>
                <p>Meet once a month, Friday 7pm<br> For more info, please contact Allen/Sarah Morgan</p>
                <p>Tel: <a href="tel:651-636-0925">763-639-5805</a></p>
              </div>
            </figcaption>     
          </figure>
          <figure class="effect-julia">
            <img src="./img/pages/page-prayer-groups/youngadults2.jpg" alt="New Life in Chirst Fellowship Youth Ministry"/>
            <figcaption>
              <h2 class="big">Young Adults</h2>
              <div>
                <p>Meet every other Saturday Morning<br> For more info, please contact Allen/Sarah Morgan</p>
                <p>Tel: <a href="tel:651-636-0925">651-636-0925</a></p>
              </div>
            </figcaption>     
          </figure>
          <figure class="effect-julia">
            <img src="./img/pages/page-prayer-groups/maplewood.jpg" alt="New Life in Chirst Fellowship Music Ministry"/>
            <figcaption>
              <h2 class="big">Maplewood</h2>
              <div>
                <p>Meet every other Wenesday, 9am<br> For more info, please contact Jose/Keay Mendoza</p>
                <p>Tel: <a href="tel:651-636-0925">651-368-9507</a></p>
              </div>
            </figcaption>     
          </figure>
          <figure class="effect-julia">
            <img src="./img/pages/page-prayer-groups/woodbury.jpg" alt="New Life in Chirst Fellowship Young Adults Ministry"/>
            <figcaption>
              <h2 class="big">Woodbury</h2>
              <div>
                <p>Meet every other Friday, 7pm<br> For more info, please contact Rey/Cel Nolido</p>
                <p>Tel: <a href="tel:651-636-0925">651-739-6341</a></p>
              </div>
            </figcaption>     
          </figure>
          <figure class="effect-julia">
            <img src="./img/pages/page-prayer-groups/northmetro.jpg" alt="New Life in Chirst Fellowship Women Ministry"/>
            <figcaption>
              <h2 class="big">North Metro</h2>
              <div>
                <p>Meet every other Friday, 7pm<br> For more info, please contact Steve/Karen Tiongson</p>
                <p>Tel: <a href="tel:651-636-0925">763-291-3155</a></p>
              </div>
            </figcaption>     
          </figure>
          <figure class="effect-julia">
            <img src="./img/pages/page-prayer-groups/bestyears.jpg" alt="New Life in Chirst Fellowship Men Ministry"/>
            <figcaption>
              <h2 class="big">Best Years Fellowship</h2>
              <div>
                <p>Meet every other Friday, 7pm<br> For more info, please contact Pastor Louie Santelices</p>
                <p>Tel: <a href="tel:651-636-0925">763-515-3294</a></p>
              </div>
            </figcaption>     
          </figure>
        </div>
      </div>
      <div class="column-2">  
      </div>
    </div>
</section>      