<!-- start info-bar -->
    <hr>
    <section class="info-bar row">
      <div class="info-bar-row row1 flex-cont">
        <div class="flex-cont-justify-center"><h4>New Life In Chirst<br>Fellowship</h4></div>
        <div class="flex-cont-justify-center"><h4><a href="">Phone:(952) 688-7721</a></h4></div>
        <div class="flex-cont-justify-center"><h4>3245 New Brighton Rd.<br>Arden Hills, MN</h4></div>
        <div class="flex-cont-justify-center"><h4><a href="pages/contact.html">Contact Us</a></h4></div>
      </div>
      <div class="info-bar-row row2 flex-cont">
        <div class="flex-cont-justify-center">
          <ol>
            <li><a href="pages/ministries.html"><h4>Ministries</h4></a></li>
            <li>Children</li>
            <li>Youth</li>
            <li>Young Adults</li>
        </ol>
        </div>
        <div class="flex-cont-justify-center">
          <ol>
            <li><a href="pages/smallgroups.html"><h4>Small Groups</h4></a></li>
            <li>Maplewood</li>
            <li>North Metro</li>
            <li>Woodbury</li>
        </ol>
        </div>
        <div class="flex-cont-justify-center">
          <ol>
            <li><a href="pages/events.html"><h4>Events</h4></a></li>
            <li>No upcoming events</li>
        </ol>
        </div>
        <div class="flex-cont-justify-center">
          <ol>
            <li><a href="pages/media.html"><h4>Sermon Archive</h4></a></li>
            <li>Marriage</li>
            <li>Galatians</li>
            <li>Matthew</li>
        </ol>
        </div>
      </div>
    </section>
<!-- end info-bar -->

<!-- Start footer -->
    <footer class="main-footer row flex-container">
      <div class="social-media-cont">    
        <p>Follow us on:</p>
        <a href="https://www.facebook.com/pages/New-Life-In-Christ-Fellowship-Twin-City-MN/163651137101710" target="_blank"  title="New life in Christ Fellowship Facebook Page"><img src="img/png/multi-media/facebook.png" alt="facebook"></a>
        <a href="https://www.youtube.com/channel/UC_R8Lxo2LukPabiGhuiFdhQ/feed" target="_blank" title="New Life in Christ Fellowship Youtube page"><img src="img/png/multi-media/youtube.png" alt="Youtube"></a>
      </div>
      <div class="copyright-cont">
        <p class="copyright">&copy; Copyright 2015 New Life In Chirst Fellowship. All rights reserved.</p>
      </div>			
    </footer>
<!-- End footer -->