<!-- Start main-header -->
      <header class="row main-header">
        <div class="row top-info-bar">
          <span>Sunday Service 10:30 am |&nbsp;</span> 
          <span>
            <a href="https://www.google.com/maps/place/3245+New+Brighton+Rd,+St+Paul,+MN+55112/data=!4m2!3m1!1s0x52b3294e1c1395f5:0xf0cd71d3a22df387?sa=X&sqi=2&ved=0CB0Q8gEwAGoVChMIneuPsYzFxwIVRBiSCh2F1AL6" 
         target="_blank" title="New Life In Chirst Location">Go to map&nbsp;&#62;</a>
         </span>
          <span>
            <a href="smallgroups.html" class="animsition-link" title="New life in Christ Small Groups">Join our Small Groups</a>
          </span>
        </div>
        <div class="logo main-logo">
          <a href="index.html" title="New Life in Christ Homepage">
            <img src="img/main-header/logo2.jpg" alt="New life in Christ logo">
          </a>
        </div>
        
        <nav id="main-nav">
          <ul>
              <li>
                <div class"nav-item-cont">
                  <a href="index.html" class="selected animsition-link">Home</a>
                </div>
              </li>
              <li>
                <div class"nav-item-cont">
                  <a href="about.html" class="animsition-link">About</a>
                </div>
              </li>
              <li class="more_nav">
                <div class"nav-item-cont">
                  <a href="ministries.html" class="animsition-link">Ministries</a></div>
              </li>
              <li class="more_nav">
                <div class"nav-item-cont">
                  <a href="events.html" class="animsition-link">Events</a>
                </div>
              </li>
              <li class="more_nav">
                <div class"nav-item-cont">
                  <a href="media.html" class="animsition-link">Media</a>
                </div>
              </li>
              <li class="more_nav">
                <div class"nav-item-cont">
                  <a href="contact.html" class="animsition-link">Contact</a>
                </div>
              </li>
          </ul>
        </nav>
        <div id="nlcf-name">
          <a href="index.html">
            <img src="img/main-header/nlcf.png">
          </a>
        </div>
        <nav id="mobileNav">
          <ul>
              <li>
                  <a href="index.html" class="selected">Home</a>
              </li>
              <li>
                  <a href="about.html">About</a>
              </li>
              <li class="more_nav">
                  <a href="ministries.html">Ministries</a>
              </li>
              <li class="more_nav">
                  <a href="events.html">Events</a>
              </li>
              <li class="more_nav">
                  <a href="media.html">Media</a>
              </li>
              <li class="more_nav">
                  <a href="contact.html">Contact</a>
              </li>
          </ul>
        </nav>
        
      </header>
<!-- End main-header -->